@use "styles/theme" as *;

.layout {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
  min-width: 100vw;
  box-sizing: border-box;
  color: $primary-text;

  font-family: "PT Sans";

  background: radial-gradient(
      circle at bottom left,
      $tertiary-bg-2 -10%,
      transparent 50%
    ),
    radial-gradient(circle at top right, $tertiary-bg-1 -10%, transparent 50%),
    $primary-bg;

  > *:nth-child(1) {
    position: sticky;
    top: 0;
  }

  > *:nth-child(2) {
    flex-grow: 1;
    padding: 1.6rem;
    min-height: 2000px;
    width: min(100% - 1.2rem, 1400px);
    margin-inline: auto;
    h1 {
      font-size: 3.2rem;
    }
    > *:not(h1) {
      color: $secondary-text;
    }
    h4 {
      font-style: italic;
    }
  }
}
