@use "styles/theme" as *;

.navbar {
  background-color: $primary-bg-transparent;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  ul {
    display: inherit;
    margin: 0;
    padding: 0;

    li {
      list-style-type: none;
      margin-inline: 1.6rem;
      font-size: 0.8rem;
      padding: 1rem;
      margin: 0.2rem;
      border-radius: 0.6rem;
      transition: background-color 0.2s ease;
      cursor: pointer;

      &:hover {
        background-color: $secondary-bg;
      }
    }
  }
}
