@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

$primary-bg: hsl(240, 89%, 7%);
$primary-bg-transparent: hsla(240, 89, 7, 0.6);
$primary-bg-transparent-2: rgba(2, 2, 34, 0.801);
$primary-text: rgb(255, 255, 255);

$secondary-bg: hsla(265, 93%, 22%, 0.795);
$secondary-text: rgb(226, 226, 226);

$tertiary-bg-1: hsl(284, 87%, 15%);
$tertiary-bg-2: hsl(160, 77%, 41%);

$code-bg: hsla(276, 60%, 5%, 0.699);
